[submodule "vendor/bundles/FOS/UserBundle"]
	path = vendor/bundles/FOS/UserBundle
	url = git://github.com/FriendsOfSymfony/FOSUserBundle.git
[submodule "vendor/bundles/Sonata/AdminBundle"]
	path = vendor/bundles/Sonata/AdminBundle
	url = git@github.com:sonata-project/SonataAdminBundle.git
[submodule "vendor/bundles/Sonata/jQueryBundle"]
	path = vendor/bundles/Sonata/jQueryBundle
	url = git@github.com:sonata-project/SonatajQueryBundle.git
[submodule "vendor/bundles/Sonata/BluePrintBundle"]
	path = vendor/bundles/Sonata/BluePrintBundle
	url = git@github.com:sonata-project/SonataBluePrintBundle.git
[submodule "vendor/KnpMenu"]
	path = vendor/KnpMenu
	url = git@github.com:knplabs/KnpMenu.git
[submodule "vendor/bundles/Knp/Bundle/MenuBundle"]
	path = vendor/bundles/Knp/Bundle/MenuBundle
	url = https://github.com/knplabs/KnpMenuBundle.git
